.footable {
  width: 100%;


  &.breakpoint {
    > tbody > tr {
      &.footable-detail-show > td {
        border-bottom:none;
      }

      &:hover:not(.footable-row-detail) {
        cursor: pointer;
      }

      > td.footable-cell-detail {
        background: #eee;
        border-top:none;
      }

      > td > span.footable-toggle {
        display: inline-block;
				font-family: $icon-font-primary;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        padding-right:5px;
        font-size:14px;
      }
    }
    &.toggle-medium > tbody > tr {
      > td > span.footable-toggle {
        font-size:18px;
      }
    }

    &.toggle-large > tbody > tr {
      > td > span.footable-toggle {
        font-size:24px;
      }
    }
 }
	.footable-row-detail-inner {
		display:table;
	}
	.footable-row-detail-row {
		display: table-row;
		line-height: 1.5em;
	}
	.footable-row-detail-group  {
		display: block;
		line-height: 2em;
		font-size: 1.2em;
		font-weight: bold;
	}
	.footable-row-detail-name {
		display: table-cell;
		font-weight: bold;
		padding-right: 0.5em;
	}
	.footable-row-detail-value {
		display: table-cell;
	}
	.footable-sortable {
		.footable-sort-indicator {
			&:after {
				float:right;
				margin:0px 0px 0 0;
				content: $fa-var-times;
				font-family: $icon-font-primary;
				display:block;
			}
		}
	}
}
.footable-header {
	.footable-sortable {
    white-space: nowrap;
    .fooicon {
    	margin-left: 5px;
	    vertical-align: 1px;
    }
	}
}
.fooicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: $icon-font-primary !important;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.fooicon:before,
.fooicon:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.fooicon-loader:before {
	content: $fa-var-spinner;
}
.fooicon-plus:before {
	content: $fa-var-plus;
}
.fooicon-minus:before {
	content: $fa-var-minus;
}
.fooicon-search:before {
	content: $fa-var-search;
}
.fooicon-remove:before {
	content: $fa-var-times;
}
.fooicon-sort:before {
	content: $fa-var-sort;
}
.fooicon-sort-asc:before {
	content: $fa-var-sort-asc;
}
.fooicon-sort-desc:before {
	content:$fa-var-sort-desc;
}
.fooicon-pencil:before {
	content: $fa-var-edit;
}
.fooicon-trash:before {
	content: $fa-var-trash;
}
.fooicon-eye-close:before {
	content: $fa-var-eye-slash;
}
.fooicon-flash:before {
	content: $fa-var-eye;
}
.fooicon-cog:before {
	content: $fa-var-cog;
}
.fooicon-stats:before {
	content: $fa-var-bar-chart-o;
}


///

.fooicon:before,
.fooicon:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


///

div.footable-loader {
	vertical-align: middle;
	text-align: center;
	height: 300px;
	position: relative;
}
div.footable-loader > span.fooicon {
	display: inline-block;
	opacity: 0.3;
	font-size: 30px;
	line-height: 32px;
	width: 32px;
	height: 32px;
	margin-top: -16px;
	margin-left: -16px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-animation: fooicon-spin-r 2s infinite linear;
	animation: fooicon-spin-r 2s infinite linear;
}
table.footable > tbody > tr.footable-empty > td {
	vertical-align: middle;
	text-align: center;
	font-size: 30px;
}
table.footable > tbody > tr > td,
table.footable > tbody > tr > th {
	display: none;
}
table.footable > tbody > tr.footable-empty > td,
table.footable > tbody > tr.footable-empty > th,
table.footable > tbody > tr.footable-detail-row > td,
table.footable > tbody > tr.footable-detail-row > th {
	display: table-cell;
}
@-webkit-keyframes fooicon-spin-r {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@keyframes fooicon-spin-r {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}