<!-- Editing Modal Markup -->
<div class="modal fade" id="family-modal" tabindex="-1" role="dialog" aria-labelledby="family-title">
  <div class="modal-dialog" role="document">
    <form class="modal-content" id="family">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
        <h4 class="modal-title" id="family-title">Familiendossier</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="filter-row">
                <div class="row">
                  <div class="col-xs-12 col-md-3">
                    <div class="form-group">
                      <h4 class="pull-left-xs">Referenz-Nr</h4>
                      <a href="#" class="btn btn-secondary pull-right visible-xs" data-toggle="collapse" data-target="#ref-collapse-modal" aria-expanded="false" aria-controls="ref-collapse-modal"><i class="fa fa-chevron-down"></i></a>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-9">
                    <div id="ref-collapse-modal" class="collapse-xs collapse in row">
                      <div class="col-xs-6 col-sm-4">
                        <div class="form-group">
                          <select id="select-reference" name="select-reference" class="form-control select-alt">
                            <option value="gleich">gleich</option>
                            <option value="ungleich">ungleich</option>
                            <option value="leer">leer</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-4">
                        <input type="text" class="form-control" placeholder="Input field with actions">
                      </div>
                      <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                          <a href="#" class="btn btn-link">
                              <i class="fa fa-minus-circle"></i>
                          </a>
                          <a href="#" class="btn btn-link">
                              <i class="fa fa-eye-slash"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="filter-row">
                <div class="row">
                  <div class="col-xs-12 col-md-3">
                    <div class="form-group">
                      <h4 class="pull-left-xs">Zemis-Nr</h4>
                      <a href="#" class="btn btn-secondary pull-right visible-xs" data-toggle="collapse" data-target="#zemis-collapse-modal" aria-expanded="false" aria-controls="zemis-collapse-modal"><i class="fa fa-chevron-down"></i></a>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-9">
                    <div id="zemis-collapse-modal" class="collapse-xs collapse in row">
                      <div class="col-xs-6 col-sm-4">
                        <div class="form-group">
                          <select id="select-zemis" name="select-zemis" class="form-control select-alt">
                            <option value="gleich">gleich</option>
                            <option value="ungleich">ungleich</option>
                            <option value="leer">leer</option>
                            <option value="beinhaltet">beinhaltet</option>
                            <option value="beginnt-mit">beginnt mit</option>
                            <option value="endet-mit">endet mit</option>
                            <option value="Bereitet">Bereitet</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-4">
                        <select id="select-zemis2" name="select-zemis2" class="form-control select-alt">
                          <option value="" disabled selected>Select your option</option>
                          <option value="gleich">gleich</option>
                          <option value="ungleich">ungleich</option>
                          <option value="leer">leer</option>
                          <option value="beinhaltet">beinhaltet</option>
                          <option value="beginnt-mit">beginnt mit</option>
                          <option value="endet-mit">endet mit</option>
                          <option value="Bereitet">Bereitet</option>
                        </select>
                      </div>
                      <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                          <a href="#" class="btn btn-link">
                              <i class="fa fa-minus-circle"></i>
                          </a>
                          <a href="#" class="btn btn-link">
                              <i class="fa fa-eye-slash"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="filter-row">
                <div class="row">
                  <div class="col-xs-12 col-md-3">
                    <div class="form-group">
                      <h4 class="pull-left-xs">Name</h4>
                      <a href="#" class="btn btn-secondary pull-right visible-xs" data-toggle="collapse" data-target="#name-collapse-modal" aria-expanded="false" aria-controls="name-collapse-modal"><i class="fa fa-chevron-down"></i></a>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-9">
                    <div id="name-collapse-modal" class="collapse-xs collapse in row">
                      <div class="col-xs-6 col-sm-4">
                        <div class="form-group">
                          <select id="selectbasic" name="selectbasic" class="form-control select-alt">
                            <option value="1">gleich</option>
                            <option value="2">Option two</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-4">
                        <input type="text" class="form-control" placeholder="Input field with actions">
                      </div>
                      <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                          <a href="#" class="btn btn-link">
                              <i class="fa fa-minus-circle"></i>
                          </a>
                          <a href="#" class="btn btn-link">
                              <i class="fa fa-eye-slash"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="filter-row">
                <div class="row">
                  <div class="col-xs-12 col-md-3">
                    <div class="form-group">
                      <h4 class="pull-left-xs">Vorname</h4>
                      <a href="#" class="btn btn-secondary pull-right visible-xs" data-toggle="collapse" data-target="#firstname-collapse-modal" aria-expanded="false" aria-controls="firstname-collapse-modal"><i class="fa fa-chevron-down"></i></a>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-9">
                    <div id="firstname-collapse-modal" class="collapse-xs collapse in row">
                      <div class="col-xs-6 col-sm-4">
                        <div class="form-group">
                          <select id="selectbasic" name="selectbasic" class="form-control select-alt">
                            <option value="1">gleich</option>
                            <option value="2">Option two</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-4">
                        <input type="text" class="form-control" placeholder="Input field with actions">
                      </div>
                      <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                          <a href="#" class="btn btn-link">
                              <i class="fa fa-minus-circle"></i>
                          </a>
                          <a href="#" class="btn btn-link">
                              <i class="fa fa-eye-slash"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="filter-row">
                <div class="row">
                  <div class="col-xs-12 col-md-3">
                    <div class="form-group">
                      <h4 class="pull-left-xs">Geburtsdatum</h4>
                      <a href="#" class="btn btn-secondary pull-right visible-xs" data-toggle="collapse" data-target="#birthdate-collapse-modal" aria-expanded="false" aria-controls="birthdate-collapse-modal"><i class="fa fa-chevron-down"></i></a>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-9">
                    <div id="birthdate-collapse-modal" class="collapse-xs collapse in row">
                      <div class="col-xs-6 col-sm-4">
                        <div class="form-group">
                          <select id="selectbasic" name="selectbasic" class="form-control select-alt">
                            <option value="1">gleich</option>
                            <option value="2">Option two</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-4">
                        <input type="text" class="form-control" placeholder="Input field with actions">
                      </div>
                      <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                          <a href="#" class="btn btn-link">
                              <i class="fa fa-minus-circle"></i>
                          </a>
                          <a href="#" class="btn btn-link">
                              <i class="fa fa-eye-slash"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <button type="submit" class="btn btn-default btn-mobile"><i class="fa fa-plus-circle text-secondary"></i> Feld Hinzufügen</button>
            </div>
            <div class="col-md-12">
                <div class="section-lg"></div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-primary btn-tablet"><i class="fa fa-search"></i> Suchen</button>
              <button type="button" class="btn btn-link btn-tablet"><i class="fa fa-window-restore"></i> Suchabfrage in Zwiscchenablage kopieren</button>
              <button type="button" class="btn btn-link btn-tablet"><i class="fa fa-star-o"></i> Suchabfrage hinzufügen</button>
            </div>
            <div class="col-md-12">
                <div class="section-lg"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <button type="submit" class="btn btn-primary">Save changes</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>