<!-- Editing Modal Markup -->
<div class="modal fade" id="favourites-modal" tabindex="-1" role="dialog" aria-labelledby="favourites-title">
  <div class="modal-dialog" role="document">
    <form class="modal-content" id="favourites">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
        <h4 class="modal-title" id="favourites-title"><i class="fa fa-star text-secondary"></i> Meine Suchabfragen</h4>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-striped table-hover ">
            <tbody>
              <tr>
                <td>Meine Suchabfrage 01</td>
                <td><a href="#"><i class="fa fa-minus-circle text-secondary"></i> Entfernen</a></td>
              </tr>
              <tr>
                <td>Meine Suchabfrage 02</td>
                <td><a href="#"><i class="fa fa-minus-circle text-secondary"></i> Entfernen</a></td>
              </tr>
              <tr>
                <td>Meine Suchabfrage 03</td>
                <td><a href="#"><i class="fa fa-minus-circle text-secondary"></i> Entfernen</a></td>
              </tr>
              <tr>
                <td>Meine Suchabfrage 04</td>
                <td><a href="#"><i class="fa fa-minus-circle text-secondary"></i> Entfernen</a></td>
              </tr>
              <tr>
                <td>Meine Suchabfrage 05</td>
                <td><a href="#"><i class="fa fa-minus-circle text-secondary"></i> Entfernen</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-link btn-tablet pull-left"><i class="fa fa-star-o"></i> Aktuelle Suchabfrage speichern</button>
      </div>
    </form>
  </div>
</div>