<hr>
<a href="javascript:" id="search-highlight" class="fixed-side-button"><i class="fa fa-search"></i></a>
<a href="javascript:" id="return-to-top" class="fixed-side-button"><i class="fa fa-chevron-up"></i></a>