<!--[if lt IE 7]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> to better experience this site.</p>
    <![endif]-->
    <div class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/img/logo-arts-2x.png" alt="arts" >
                    </a>
                    <div class="masthead-right">
                        <ul class="nav nav-masthead nav-user">
                        <!-- Button trigger modal -->
                            <li><a href="#" data-toggle="modal" data-target="#favourites-modal"><i class="fa fa-star-o text-secondary"></i> Suchabfrage</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#info-modal"><i class="fa fa-info-circle text-secondary"></i> Systeminfo</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#family-modal"><i class="fa fa-user text-secondary"></i> Hanspeter Muster</a></li>
                            <li><a href="login.html"><i class="fa fa-power-off text-secondary"></i> Abmelden</a></li>
                       </ul>
                   </div>
                </div>
            </div>
        </div>
    </div>