    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown nav-title active">
                        <a href="#" class="pull-left-sm">DemoDMRelease</a>
                        <a href="#" class="dropdown-toggle dropdown-toggle-btn pull-right-sm" data-toggle="dropdown"><i class="fa fa-angle-down"></i></a>
                        <div class="clearfix">
                        </div>
                        <ul class="dropdown-menu multi-column columns-2">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 class="dropdown-menu-title">THIS IS A 2 COLUMN DROPDOWN</h3>
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <h3 class="dropdown-menu-title">Dokumente</h3>
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <h3 class="dropdown-menu-title">Patientenaktien</h3>
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <h3 class="dropdown-menu-title">Dokumente</h3>
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>

                    <li><a href="#">ARTS Demo DB 3.5.11</a></li>

                    <li class="dropdown nav-title">
                        <a href="#" class="pull-left-sm">Dokumentenablage</a>
                        <a href="#" class="dropdown-toggle dropdown-toggle-btn pull-right-sm" data-toggle="dropdown"><i class="fa fa-angle-down"></i></a>
                        <div class="clearfix">
                        </div>
                        <ul class="dropdown-menu multi-column columns-1">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3 class="dropdown-menu-title">THIS IS A 1 COLUMN DROPDOWN</h3>
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1</a></li>
                                    </ul>
                                    <h3 class="dropdown-menu-title">Dokumente</h3>
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li><a href="#">PERS-Personal</a></li>
                    <li><a href="#">PERS-Personal</a></li>
                    <li class="dropdown nav-title">
                        <a href="#" class="pull-left-sm">MA - Migrationsamtslösnung</a>
                        <a href="#" class="dropdown-toggle dropdown-toggle-btn pull-right-sm" data-toggle="dropdown"><i class="fa fa-angle-down"></i></a>
                        <div class="clearfix">
                        </div>
                        <ul class="dropdown-menu multi-column columns-2">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 class="dropdown-menu-title">Patientenaktien</h3>
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <h3 class="dropdown-menu-title">Dokumente</h3>
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <h3 class="dropdown-menu-title">Patientenaktien</h3>
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <h3 class="dropdown-menu-title">Dokumente</h3>
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                        <li><a href="#">Lorem ipsum 1 Lorem ipsum 1 Lorem ipsum 1</a></li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>