
<div class="sidenav">
  <div class="panel-group level-0" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">List level 1</a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">

        <div class="panel-group level-1" id="inner-list">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#inner-list" href="#innercollapseOne" class="active">List level 2</a>
              </h4>
            </div>
            <div id="innercollapseOne" class="panel-collapse collapse">

              <div class="panel-group level-2" id="third-list">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#third-list" href="#innerercollapseOne" class="active">List level 3</a>
                    </h4>
                  </div>
                  <div id="innerercollapseOne" class="panel-collapse collapse">
                    <div class="list-group">
                      <a href="#" class="list-group-item active"><i class="fa fa-file"></i> Dapibus ac facilisis in</a>
                      <a href="#" class="list-group-item"><i class="fa fa-file"></i> Morbi leo risus</a>
                      <a href="#" class="list-group-item"><i class="fa fa-file"></i> Porta ac consectetur ac</a>
                      <a href="#" class="list-group-item"><i class="fa fa-file"></i> Vestibulum at eros</a>
                      <a href="#" class="list-group-item"><i class="fa fa-file"></i> Dapibus ac facilisis in</a>
                      <a href="#" class="list-group-item"><i class="fa fa-file"></i> Morbi leo risus</a>
                      <a href="#" class="list-group-item"><i class="fa fa-file"></i> Porta ac consectetur ac</a>
                      <a href="#" class="list-group-item"><i class="fa fa-file"></i> Vestibulum at eros</a>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#third-list" href="#innerercollapseFour">List level 3</a>
                    </h4>
                  </div>
                  <div id="innerercollapseFour" class="panel-collapse collapse">
                    <div class="list-group">
                      <a href="#" class="list-group-item"><i class="fa fa-file"></i> Dapibus ac facilisis in</a>
                      <a href="#" class="list-group-item"><i class="fa fa-file"></i> Morbi leo risus</a>
                      <a href="#" class="list-group-item"><i class="fa fa-file"></i> Porta ac consectetur ac</a>
                      <a href="#" class="list-group-item"><i class="fa fa-file"></i> Vestibulum at eros</a>
                      <a href="#" class="list-group-item"><i class="fa fa-file"></i> Dapibus ac facilisis in</a>
                      <a href="#" class="list-group-item"><i class="fa fa-file"></i> Morbi leo risus</a>
                      <a href="#" class="list-group-item"><i class="fa fa-file"></i> Porta ac consectetur ac</a>
                      <a href="#" class="list-group-item"><i class="fa fa-file"></i> Vestibulum at eros</a>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#third-list" href="#innerercollapseFive">List level 3</a>
                    </h4>
                  </div>
                  <div id="innerercollapseFive" class="panel-collapse collapse">7
                    <div class="list-group">
                      <a href="#" class="list-group-item"><i class="fa fa-file"></i> Dapibus ac facilisis in</a>
                      <a href="#" class="list-group-item"><i class="fa fa-file"></i> Morbi leo risus</a>
                      <a href="#" class="list-group-item"><i class="fa fa-file"></i> Porta ac consectetur ac</a>
                      <a href="#" class="list-group-item"><i class="fa fa-file"></i> Vestibulum at eros</a>
                      <a href="#" class="list-group-item"><i class="fa fa-file"></i> Dapibus ac facilisis in</a>
                      <a href="#" class="list-group-item"><i class="fa fa-file"></i> Morbi leo risus</a>
                      <a href="#" class="list-group-item"><i class="fa fa-file"></i> Porta ac consectetur ac</a>
                      <a href="#" class="list-group-item"><i class="fa fa-file"></i> Vestibulum at eros</a>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#inner-list" href="#innercollapseFour">List level 2</a>
              </h4>
            </div>
            <div id="innercollapseFour" class="panel-collapse collapse">
              <div class="list-group">
                <a href="#" class="list-group-item">
                  Cras justo odio
                </a>
                <div class="list-group">
                  <a href="#" class="list-group-item">
                    Cras justo odio
                  </a>
                  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                  <a href="#" class="list-group-item">Morbi leo risus</a>
                  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                  <a href="#" class="list-group-item">Vestibulum at eros</a>
                </div>
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#inner-list" href="#innercollapseFive">List level 2</a>
              </h4>
            </div>
            <div id="innercollapseFive" class="panel-collapse collapse">
              <div class="list-group">
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">List group item heading</h4>
                  <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </a>
              </div>
              <div class="list-group">
                <a href="#" class="list-group-item active">
                  <h4 class="list-group-item-heading">List group item heading</h4>
                  <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </a>
              </div>
              <div class="list-group">
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">List group item heading</h4>
                  <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </a>
              </div>
            </div>
          </div>
        </div>




      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">List level 1</a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
        <div class="list-group">
          <a href="#" class="list-group-item">
            Cras justo odio
          </a>
          <div class="list-group">
            <a href="#" class="list-group-item">
              Cras justo odio
            </a>
            <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
            <a href="#" class="list-group-item">Morbi leo risus</a>
            <a href="#" class="list-group-item">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item">Vestibulum at eros</a>
          </div>
          <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
          <a href="#" class="list-group-item">Morbi leo risus</a>
          <a href="#" class="list-group-item">Porta ac consectetur ac</a>
          <a href="#" class="list-group-item">Vestibulum at eros</a>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">List level 1</a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse">
        <div class="list-group">
          <a href="#" class="list-group-item">
            Cras justo odio
          </a>
          <div class="list-group">
            <a href="#" class="list-group-item">
              Cras justo odio
            </a>
            <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
            <a href="#" class="list-group-item">Morbi leo risus</a>
            <a href="#" class="list-group-item">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item">Vestibulum at eros</a>
          </div>
          <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
          <a href="#" class="list-group-item">Morbi leo risus</a>
          <a href="#" class="list-group-item">Porta ac consectetur ac</a>
          <a href="#" class="list-group-item">Vestibulum at eros</a>
        </div>
      </div>
    </div>
  </div>
</div>
