//== Components CSS
//## Buttons

// -----------------------------------------------------------------------------
// This file defines styles for buttons and rules for them
// -----------------------------------------------------------------------------


// Add class for full-width mobile buttons
@include screen-mobile {
    .btn-mobile {
        width: 100%;
    }
}

@include screen-tablet {
    .btn-tablet {
        width: 100%;
    }
}


.btn-secondary {
	color: $text-color;
  background-color: $gray-lighter;
  border-color: $gray-lighter;
  &:hover {
  	background-color: $gray-light;
  }
}

.btn-input-border {
	border-bottom: 2px solid $brand-secondary;
  &:hover,
  &:focus,
  &:active, {
  	border-bottom: 2px solid $brand-primary;
  }
}

.btn-link {
	color: $text-color;
}