//== Components CSS
//## Fixed side buttons

// -----------------------------------------------------------------------------
// This file contains styles for the sidebar buttons which appear on scrolldown
// -----------------------------------------------------------------------------


.fixed-side-button {
  position: fixed;
  right: 0;
  background: $brand-secondary;
  width: $side-button-width;
  height: $side-button-height;
  display: block;
  text-decoration: none;
  display: none;
  @include transition("all .3s linear");
  i {
    color: white;
    margin: 0;
    position: relative;
    left: 14px;
    font-size: $font-size-base;
    top: 10px;
    line-height: $font-size-base;
    @include transition("all .3s ease");
  }
}
.fixed-side-button:hover {
  background: $brand-secondary-dark;
  i {
      color: white;
  }
}

#return-to-top {
  bottom: $side-button-bottom;
}

#search-highlight {
  bottom: calc(#{$side-button-bottom} + #{$side-button-height});
  border-bottom: 1px solid white;
}

