//== Components CSS
//## Footable

// -----------------------------------------------------------------------------
// Footable-only specific style definitions
// -----------------------------------------------------------------------------



tr.footable-header {
    color:  $brand-primary;
    border-bottom: 3px solid $brand-primary;
    th {
    	border-top: 0px solid transparent !important;
    	border-bottom: 0px solid transparent !important;
    }
}
.footable-filtering {
	input,
	span,
	i {
		font-weight: normal;
	}
}
.footable-detail-row {
	background-color: $gray-lighter;
	border-bottom: 3px solid $brand-secondary;
	td,
	th {
		> table {
			> tbody {
				> tr:first-child {
					> td,
					> th {
						border-top: 0px solid transparent !important;
					}
				}
			}
		}
	}
	> td {
		> .footable-details.table {
			background-color: $gray-lighter;
		}
	}
}

.footable {
	tbody {
		tr {
			border-left: 1px solid $gray-lighter;
			border-right: 1px solid $gray-lighter;
		}
	}
	tr.footable-paging {
		text-align: center;
	}
}

.table>thead>tr>th {
  	border-top: 0px solid transparent !important;
  	border-bottom: 0px solid transparent !important;
}