//== Components CSS
//## Forms

// -----------------------------------------------------------------------------
// This file contains styles for the forms and input/select elements.
// -----------------------------------------------------------------------------

.form-control {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid $brand-secondary;
  box-shadow: inset 0 0px 0px transparent !important;
  &:focus {
  	border-bottom: 2px solid $brand-primary;
  	box-shadow: inset 0 0px 0px transparent !important;
    + .input-group-addon {
      border-bottom: 2px solid $brand-primary;
    }
  }
  &[disabled],
  &[readonly] {
  	background: transparent;
    opacity: 1;
  	border-bottom: 2px solid $gray-lighter;
	}
  @include screen-mobile {
    padding: 6px 12px 6px 0;
  }
}

.input-group-addon {
	border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid $brand-secondary;
  box-shadow: inset 0 0px 0px transparent !important;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 6px 25px 6px 12px;
    font-size: $font-size-base;
    line-height: 1;
    overflow: hidden;
    width: 100%;
    border-radius: 0;
    background-image: url(../icons/select-arrow.png) !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
    background-color: transparent !important;
    background-size: 15px 8px !important;
    &.select-alt {
    	background-image: url(../icons/select-arrow-alt.png) !important;
    }
}
select::-ms-expand{
  display:none;
}

@include screen-desktop {
	.form-horizontal .control-label {
	    text-align: left;
	}
}


// SEARCH INPUT

.arts-input-group,
.input-with-actions {
	button {
    border: 0;
    background: transparent;
	}
}

// Filter rows
@include screen-mobile {
  .filter-row {
    border-bottom: 1px solid $gray-lighter;
    padding: 20px 10px;
    a[data-toggle="collapse"] {
      i {
        @include transform(rotate(0deg));
        @include transition(.3s ease-in-out);
      }
      &[aria-expanded="true"] {
        i {
          @include transform(rotate(180deg));
          @include transition(.3s ease-in-out);
        }
      }
    }
  }
}