//== Components CSS
//## Panels

// -----------------------------------------------------------------------------
// This file contains styles for panels, inlcuding collapsible versions
// -----------------------------------------------------------------------------


.panel {
	border: 0;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 0;
  -webkit-box-shadow: 0 0px 0px 0;
  box-shadow: 0 0px 0px 0;
	.panel-heading {
  	background-color: transparent;
    border-bottom: 5px solid $brand-primary;
    .panel-title > a:after {
      content: $fa-var-caret-down;
      font-family: $icon-font-primary;
      position: absolute;
      right: 0;
    }
    &[aria-expanded="true"] {
      .panel-title > a:after {
        content: $fa-var-caret-up;
      }
    }
	}
  .panel-group {
    margin-bottom: 0px;
  }
}

.container-panel {
  > .panel-collapse {
    > .panel-body {
      border-bottom: 0px solid transparent !important;
    }
  }
}

.panel-default {
  @include panel-variant($panel-default-border, $panel-default-text, transparent, $panel-default-border);
}
.panel-secondary {
  @include panel-variant($brand-secondary, $brand-secondary, transparent, $brand-secondary);
}
.panel-primary {
  @include panel-variant($panel-primary-border, $brand-primary, transparent, $panel-primary-border);
}
.panel-success {
  @include panel-variant($panel-success-border, $panel-success-text, transparent, $panel-success-border);
}
.panel-info {
  @include panel-variant($panel-info-border, $panel-info-text, transparent, $panel-info-border);
}
.panel-warning {
  @include panel-variant($panel-warning-border, $panel-warning-text, transparent, $panel-warning-border);
}
.panel-danger {
  @include panel-variant($panel-danger-border, $panel-danger-text, transparent, $panel-danger-border);
}

.panel-title {
  font-size: $font-size-h4;
  > a {
    display: block;
    position: relative;
  }
}

// INNER PANEL
.panel-inner{
  >.panel-heading {
    border-width: 2px;
  }
}