//== Components CSS
//## Tabs

// -----------------------------------------------------------------------------
// This file contains styles for Tabs, both custom and default
// -----------------------------------------------------------------------------

// Custom flexbox tabs

.arts-tabs {
    .state{
      position: absolute;
      left: -10000px;
    }
    .flex-tabs{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

        .tab {
          flex-grow: 1;
          max-height: 40px;
					text-align: center;
        }

        .arts-panel {
          min-height: 300px;
          display: none;
          width: 100%;
          flex-basis: auto;
      }
    }

    .tab {
      display: inline-block;
      padding: 10px;
      vertical-align: top;
      cursor: hand;
      cursor: pointer;
      border-bottom: 2px solid $gray-lighter;

        &:hover{
          border-color: $brand-primary;
        }
    }
}

#tab-one:checked ~ .tabs #tab-one-label,
#tab-two:checked ~ .tabs #tab-two-label,
#tab-three:checked ~ .tabs #tab-three-label {
    color: $brand-primary;
    cursor: default;
    border-color: $brand-primary;
}

#tab-one:checked ~ .tabs #tab-one-panel,
#tab-two:checked ~ .tabs #tab-two-panel,
#tab-three:checked ~ .tabs #tab-three-panel {
    display: block;
}
