//== Components CSS
//## Tables

// -----------------------------------------------------------------------------
// This file contains styles for default tables
// -----------------------------------------------------------------------------


table caption {
	padding: .5em 0;
}

@include screen-mobile {
  table caption {
    border-bottom: 1px solid #ddd;
  }
}
.modal-body {
	table {
		tbody {
			tr {
				td {
					padding: 10px 20px;
				}
			}
		}
	}
}




// TABLE BORDERED
.table-bordered,
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th {
    border-right: 0px solid transparent;
    border-left: 0px solid transparent;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    &:last-child {
	    border-right: 1px solid #ddd;
    }
    &:first-child {
	    border-left: 1px solid #ddd;
    }
}

.table-primary {
	border-color: transparent;
	thead {
		tr {
		    border-bottom: 3px solid $brand-primary;
			th,
			td {
				border-color: transparent;
		    color: $brand-primary;
		    white-space: nowrap;
		    &.sortable {
		    	&:after {
		    		@extend .fa;
		    		content: $fa-var-sort;
		    		margin-left: 5px;
		    	}
		    }
			}
		}
	}
}