//== Base CSS
//## Fonts

// -----------------------------------------------------------------------------
// This file contains font-imports and font-face definitons
// -----------------------------------------------------------------------------


$RalewayWebfontName: "Raleway";

@font-face {
    font-family: $RalewayWebfontName;
    src: url('../fonts/raleway/raleway-thin.eot');
    src: url('../fonts/raleway/raleway-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-thin.woff') format('woff'),
         url('../fonts/raleway/raleway-thin.ttf') format('truetype'),
         url('../fonts/raleway/raleway-thin.svg#ralewaythin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: $RalewayWebfontName;
    src: url('../fonts/raleway/raleway-extralight.eot');
    src: url('../fonts/raleway/raleway-extralight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-extralight.woff') format('woff'),
         url('../fonts/raleway/raleway-extralight.ttf') format('truetype'),
         url('../fonts/raleway/raleway-extralight.svg#ralewayextralight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: $RalewayWebfontName;
    src: url('../fonts/raleway/raleway-light.eot');
    src: url('../fonts/raleway/raleway-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-light.woff') format('woff'),
         url('../fonts/raleway/raleway-light.ttf') format('truetype'),
         url('../fonts/raleway/raleway-light.svg#ralewaylight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: $RalewayWebfontName;
    src: url('../fonts/raleway/raleway-regular.eot');
    src: url('../fonts/raleway/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-regular.woff') format('woff'),
         url('../fonts/raleway/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway/raleway-regular.svg#ralewayregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: $RalewayWebfontName;
    src: url('../fonts/raleway/raleway-medium.eot');
    src: url('../fonts/raleway/raleway-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-medium.woff') format('woff'),
         url('../fonts/raleway/raleway-medium.ttf') format('truetype'),
         url('../fonts/raleway/raleway-medium.svg#ralewaymedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: $RalewayWebfontName;
    src: url('../fonts/raleway/raleway-semibold.eot');
    src: url('../fonts/raleway/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-semibold.woff') format('woff'),
         url('../fonts/raleway/raleway-semibold.ttf') format('truetype'),
         url('../fonts/raleway/raleway-semibold.svg#ralewaysemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: $RalewayWebfontName;
    src: url('../fonts/raleway/raleway-bold.eot');
    src: url('../fonts/raleway/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-bold.woff') format('woff'),
         url('../fonts/raleway/raleway-bold.ttf') format('truetype'),
         url('../fonts/raleway/raleway-bold.svg#ralewaybold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: $RalewayWebfontName;
    src: url('../fonts/raleway/raleway-extrabold.eot');
    src: url('../fonts/raleway/raleway-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-extrabold.woff') format('woff'),
         url('../fonts/raleway/raleway-extrabold.ttf') format('truetype'),
         url('../fonts/raleway/raleway-extrabold.svg#ralewayextrabold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: $RalewayWebfontName;
    src: url('../fonts/raleway/raleway-heavy.eot');
    src: url('../fonts/raleway/raleway-heavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-heavy.woff') format('woff'),
         url('../fonts/raleway/raleway-heavy.ttf') format('truetype'),
         url('../fonts/raleway/raleway-heavy.svg#ralewayheavy') format('svg');
    font-weight: 900;
    font-style: normal;
}