//== Base CSS
//## Helpers

// -----------------------------------------------------------------------------
// This file contains helper-classes which are for general use
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}


.pull-left-sm {
  @include screen-tablet {
    float: left;
  }
}

.pull-left-xs {
  @include screen-mobile {
    float: left;
  }
}

.pull-right-sm {
  @include screen-tablet {
    float: right;
  }
}

.pull-right-xs {
  @include screen-mobile {
    float: right;
  }
}


.text-center-xs {
  @include screen-mobile {
    text-align: center;
  }
}