//== Base CSS
//## Typography

// -----------------------------------------------------------------------------
// This file contains styles for global typography elements
// -----------------------------------------------------------------------------

.text-primary {
	color: $brand-primary;
}

.text-secondary {
	color: $brand-secondary;
}