//== Abstracts
//## Animations

// -----------------------------------------------------------------------------
// Define any specific CSS animations in this file
// -----------------------------------------------------------------------------


@keyframes fake {
    from {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}
body {
    animation: fake 1s infinite;
}