//== Layout CSS
//## Navigation dropdown (Megadropdown)

// -----------------------------------------------------------------------------
// This file contains style defintions for the dropdown in the main navigation, including mobile size
// -----------------------------------------------------------------------------

$dropdown-toggle-button-width: 60px;

.navbar-collapse  {
    .dropdown-toggle.dropdown-toggle-btn {
        border-width: 0 0 0 2px;
        text-decoration: none !important;
    }
    @include screen-tablet {
        .dropdown-toggle.dropdown-toggle-btn {
            width: $dropdown-toggle-button-width;
            border-left: 1px solid white;
            text-align: center;
        }
        .dropdown.nav-title > a:first-child {
            width: calc(100% - #{$dropdown-toggle-button-width});
        }

    }

    .dropdown-menu {
        background-color: $brand-secondary;
        h3.dropdown-menu-title {
            margin-left: 15px;
            color: white;
      }
    }


    .multi-column-dropdown,
    .dropdown-menu {
        list-style: none;
        margin: 0px;
        padding: 0px;
        li {
            a {
                display: block;
                clear: both;
                line-height: 1.428571429;
                white-space: normal;
                color: white;
                &::hover {
                    text-decoration: none;
                    color: white;
                    background-color: $brand-primary-dark;
                }
            }
        }
    }

    // SM and up
    @include screen-desktop-lg {
        .dropdown-toggle.dropdown-toggle-btn {
            display: none !important;
        }

        .dropdown:hover {
            .dropdown-menu {
                display: block;
            }
        }

        .dropdown-menu{
            li a {
                padding: 5px 15px;
                font-weight: 300;
            }
        }
        .dropdown-menu{
            &.columns-2 {
                min-width: $megadropdown-double-column-width;
                width: $megadropdown-double-column-max;
                padding: 10px;
            }
            &.columns-1 {
                min-width: $megadropdown-single-column-width;
                width: $megadropdown-single-column-max;
                padding: 10px;
            }
        }
    }

    @include screen-md {
        ul li:nth-child(n+4) {
            &.dropdown {
                .dropdown-menu {
                    left: auto;
                    right: 0;
                }
            }
        }
    }

    @include screen-lg {
        ul li:nth-child(n+5) {
            &.dropdown {
                .dropdown-menu {
                    left: auto;
                    right: 0;
                }
            }
        }
    }


    // SPECIAL: Mid only
    @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        .navbar-default .navbar-nav {
            font-size: $font-size-h4;
        }
        .navbar-right-user > li > a {
            font-size: $font-size-base;
        }
    }



    // MOBILE MENU

    @include screen-tablet{
        .dropdown-menu {
            margin-top: 10px;
            h3.dropdown-menu-title {
                font-size: $font-size-h4;
                padding-top: 20px;
                padding-bottom: 20px;
                border-top: 1px solid $brand-secondary;
                border-bottom: 1px solid $brand-secondary;
            }
        }
        .multi-column-dropdown li {
            margin: 20px 10px;
            padding-left: 8px;
            a {
                color: white;
                font-size: $font-size-base !important;
            }
        }
        .navbar-nav .dropdown-menu {
            overflow: hidden;
        }
        .dropdown {
            &.open {
                > .clearfix {
                     box-shadow: 0px 10px 17px -12px black;
                }
                > a {
                    background-color: $brand-secondary !important;
                    i {
                        @include transform(rotate(180deg));
                        @include transition(.3s ease-in-out);
                    }
                }
                .dropdown-menu.multi-column.columns-2,
                .dropdown-menu.multi-column.columns-1 {
                    background-color: $brand-primary-dark;
                }
                &.active {
                    > a {
                        background-color: $brand-secondary !important;
                    }
                }
            }
        }
        .dropdown {
            > a {
                i {
                    @include transform(rotate(0deg));
                    @include transition(.3s ease-in-out);
                }
            }
        }


        .nav.navbar-nav {
            > li {
                border-bottom: 1px solid $gray-lighter;
            }
        }
    }
}