//== Layout CSS
//## Modal

// -----------------------------------------------------------------------------
// This file contains modal-specific styles
// -----------------------------------------------------------------------------

.modal-dialog {
    @media (min-width: $screen-md-min) {
        width: $modal-md;
    }
    @media (min-width: $screen-xl-min) {
        width: $modal-lg;
    }
}

#favourites .modal-body {
  padding: 0;
}