//== Layout CSS
//## Navigation

// -----------------------------------------------------------------------------
// This file contains styles for the main navigation (not dropdown), including mobile size
// -----------------------------------------------------------------------------


.masthead {
    margin-top: -20px;
    padding-bottom: 20px;
    @include screen-tablet {
        margin-top: -50px;
        padding-bottom: 10px;
    }
}
.masthead-right {
    float: right;
}
.nav-masthead {
    float: left;
    margin-left: 30px;
    > li {
        float: left;
        margin-left: 15px;
        > span,
        > a {
            display: block;
            padding: 10px 6px;
        }
        > a {
            &:hover {
                color: $brand-primary;
                background-color: transparent;
            }
        }
    }
    > li:last-child:before {
        display: none;
    }
}
.nav-user {
    > li > span > i,
    > li > a {
        color: $text-color;
    }
}
.nav-language {
    > li > a {
        color: $text-color;
    }
    > li.active > a {
        font-weight: bold;
    }
}
.navbar-brand {
    img {
        max-width: 150px;
        margin-top: -37px;
        @include screen-xs {
            max-width: 167px;
        };
    }
    .navbar-brand-claim {
        position: relative;
        top: -10px;
        color: $brand-primary;
    }
}
.navbar-default {
    .navbar-nav {
        font-size: 14px;
        > li > a {
            @include screen-desktop-lg {
                padding: 22px 10px;
            };
        }
        > .active > a {
            text-decoration: underline;
        }
    }
    .navbar-right-user {
        font-size: $font-size-base;
        > li > a {
            padding-bottom: 5px;
            padding-right: 0;
            > i {
                color: $brand-primary;
            }
        }
    }
}


//## Nav Tiles
.nav-tiles {
    margin: 10px -10px;
    > li {
        float: left;
        width: 20%;
        > a {
            padding: 20px 10px;
            margin: 0 10px;
            color: $gray-dark;
            background-color: $gray-lighter;

            span {
                display: block;
            }
        }
    }
}
.nav-tiles-title {
    font-size: 28px;
}

.nav.navbar-nav {
    .dropdown > a {
        text-decoration: none;
        @include screen-desktop-lg {
            &:after {
                font-family: $icon-font-primary;
                content: $fa-var-caret-down;
                margin-left: 3px;
            }
        }
    }
}

@include screen-desktop-lg {
    .container-fluid>.navbar-collapse,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container>.navbar-header {
        margin-right: -15px;
        margin-left: -15px;
    }
}
@include screen-tablet {
    .navbar.navbar-default {
        .container {
            @include container-fluid;
        }
    }
    .nav.navbar-nav {
        margin-bottom: 0;
        border-bottom: 1px solid white;
    }
    .navbar-brand {
        float: none;
        margin: 0 auto;
        padding: 0 15px 15px;
        img {
            margin: 0 auto;
        }
    }
    .masthead-right {
        float: none;
        .nav-masthead {
            margin-left: 0;
            margin-bottom: 10px;
            float: none;
            text-align: center;

            > li {
                margin-left: 5px;
                float: none;
                display: inline-block;
                a {
                    padding: 10px 3px;
                    font-size: 13px;
                }
            }
        }
    }
}
