//== Layout CSS
//## Sections (separators)

// -----------------------------------------------------------------------------
// This file contains sections-specific styles, generally regarding
// -----------------------------------------------------------------------------


.section-sm {
  margin-top: $section-sm;
  margin-bottom: $section-sm;
}
.section-md {
  margin-top: $section-md;
  margin-bottom: $section-md;
}
.section-lg {
  margin-top: $section-lg;
  margin-bottom: $section-lg;
}