//== Layout CSS
//## Sidenav

// -----------------------------------------------------------------------------
// This file contains style defintions for the side navigation on the iframe page
// -----------------------------------------------------------------------------


.sidenav {

	.panel {
		.panel-heading {
			padding: 10px 15px 10px 0;
			border-bottom: 0px solid transparent;
			.panel-title {
				> a {
					padding-left: 20px;
					font-size: 15px;
					&:after {
				    content: $fa-var-plus-square;
				    font-family: $icon-font-primary;
				    position: absolute;
				    left: 0;
					}
					&[aria-expanded="true"] {
						&:after {
					    content: $fa-var-minus-square-o;
						}
					}
					&.active {
						color: $brand-primary;
					}
				}
			}
		}
		>.panel-heading + .panel-collapse {
			> .list-group {
				border: 0px solid transparent;
				.list-group-item {
					border: 0px solid transparent;
				}
			}
		}
	}
}
.panel-group {
	&.level-1,
	&.level-2 {
		margin-left: 10px;
	}

	&.level-2 {
		.list-group {
			margin: 5px 15px;
			border-top: 0px solid transparent !important;
		}
	}
}