//== Pages CSS
//## Login

// -----------------------------------------------------------------------------
// This file contains specific styles for the login page
// -----------------------------------------------------------------------------


.main{
    margin-top: 70px;
}
.main-login{
    background-color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    img {
        max-width: 250px;
    }
}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 620px;
    padding: 40px 40px;

}

.login-button{
    margin-top: 5px;
}

.login-register{
    font-size: 11px;
    text-align: center;
}